body {
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-top: 30px;
  padding-bottom: 30px;
  height: 200px;
  width: 200px;
}

.container > div {
  display: flex;
  width: 200px;
}

.controls {
  padding-bottom: 30px;
}
